<p id="notice"><%= notice %></p>

<h1><%= @beer_club.name %></h1>
<h3><%= @beer_club.city %></h3>

<p>
  Founded <%= @beer_club.founded %>
</p>

<h2>Members</h2>

<p>
  <% if @beer_club.users %>
    <ul>
    <% @beer_club.users.each do |user| %>
      <li><%= user.username %></li>
    <% end %>
    </ul>
  <% else %>
    no members
  <% end %>
</p>

<% if current_user %>
  <% if !@membership.id.nil? %>
    <h4>Leave the club</h4>

    <%= form_for(@membership, method: "delete") do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value: "End membership" %>
    <% end %>
  <% else %>
    <h4>Join club</h4>

    <%= form_for(@membership) do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit %>
    <% end %> 
  <% end %>
<% end %>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) if current_user %> |
<%= link_to 'Back', beer_clubs_path %>
