<h2>Top ratings</h2>

<div class="row">
  <%= render 'list', title: 'Breweries', entities: @top_breweries %>
  <%= render 'list', title: 'Beers', entities: @top_beers %>
  <%= render 'list', title: 'Styles', entities: @top_styles %>
</div>

<h2>Most active raters</h2>
<% @top_raters.each do |user| %>
  <div class="row">
    <div class="col-4 col-sm-4">
      <%= user %>
    </div>
    <div class="col-2 col-sm-2">
      <b><%= user.ratings.count %></b>
    </div>
  </div>
<% end %>

<h2>Latest ratings</h2>
<ul>
  <% @recent.each do |rating| %>
    <li> <%= rating %> <%= link_to('delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger') %></li>
  <% end %>
</ul>

<p>Total # of ratings: <b><%= @ratings.count %></b></p>

<p><%= link_to 'new rating', new_rating_path %></p>