

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>

<p>

<% if @style.beers.empty? %>
  No beers with this style
<% else %>
  <h4>Beers of this style:</h4>
  <ul>
    <% @style.beers.each do |beer| %>
      <li><%= link_to beer.name, beer %></li>
    <% end %>
  </ul>
<% end %>

<%= edit_and_destroy_buttons(@style) %>

<%= link_to 'Back', styles_path %>
