

<table style="table table-hover">
<tr>
  <td colspan="2">
    <h2><%= @beer.name %></h2>
  </td>
</tr>

<tr>
  <td>
    <strong>Style:</strong>
  </td>
  <td>
    <%= @beer.style.name %>
  </td>
</tr>

<tr>
  <td>
    <strong>Brewery:</strong>
  </td>
  <td>
    <%= @beer.brewery.name %>
  </td>
</tr>

<tr>
  <td colspan="2">
<% if @beer.ratings.empty? %>
  beer hasn't been rated yet
<% else %>
  Has <%= pluralize(@beer.ratings.count, 'rating') %>, average <b><%= @beer.average_rating.round %></b>
<% end %>
  </td>
</tr>
</table>

<% if current_user %>
  <h4>Give rating</h4>

  <%= form_for(@rating) do |f| %>
    <div class="form-group row">  
      <%= f.hidden_field :beer_id %>
      <%= f.label :score, class: 'col-sm-2 col-form-label' %> 
      <div class="col-sm-6">
        <%= f.number_field :score, class: "form-control" %>
      </div>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %> 
  
  <%= link_to('Edit', edit_beer_path(@beer), class: 'btn btn-primary') if current_user %> |
  <%= link_to('Destroy', @beer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger') %>
<% end %>

<%= link_to 'Back', beers_path, class: 'btn btn-secondary' %>
